<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Welcome to my cocktails page</h1>
  </div>
</div>
<div class="background">
    <div class="empty"></div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
        <div> <%= link_to cocktail_path(cocktail) do %>

          <div class="card" style="background-image: linear-gradient(rgba(180,209,31,0.2), rgba(255,242,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-category">Super choice</div>
            <div class="card-description">
              <h2> <%= cocktail.name %> </h2>
            </div>
          </div>

        </div>
      <% end %>
    </div> <% end %>
  </div>
</div>

    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
