.btn-success, .btn-info {
  width: 100%;
}

.new-button {
  width: 300px;
  color: white;
  margin: 10px 0px;
  a {
    color: white;
  }
  p {
    padding: 8px 16px;
  }
}

.top-bar-button {
  background: #B4D11F;
  color: #FDFFFC;
  border: 1px solid #B4D11F;
  border-radius: 8px;
  padding: 10px 24px;
  text-decoration: none;
  box-shadow: 1px 1px rgba(120, 120, 120, 0.1);
  &:hover {
    background: rgb(150, 179, 1);
    border: 1px solid rgb(150, 179, 1);
  }
}

.footer-button {
  background: #B4D11F;
  color: #FDFFFC;
  border: 1px solid #B4D11F;
  border-radius: 8px;
  padding: 6px 16px;
  text-decoration: none;
  box-shadow: 1px 1px rgba(120, 120, 120, 0.1);
  &:hover {
    background: rgb(150, 179, 1);
    border: 1px solid rgb(150, 179, 1);
  }
}
