h1, h2, h3, h4, h5, h6, p {
  font-family: 'Muli', sans-serif;
  color: rgb(20, 20, 20);
}

h1 {
  padding: 30px 0px 40px 0px;
  margin: 20px 0px 20px 0px;
  text-align: center;
  font-family: 'KoHo', sans-serif;
  font-size: 60px;
  color: rgb(50, 50, 50)
}

p {
  padding: 0px 0px 12px 0px;
  color: rgb(50, 50, 50);
  line-height: 1.5;
}
