// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "fonts";
@import "card";
@import "buttons";
@import "divs";
@import "banner";
@import "grid";

body {
  background: linear-gradient(rgba(180,209,31,0.3), rgba(248, 131, 121, 0.3));
  background-repeat: no-repeat;
  background-attachment: fixed;
}


