/* Main navbar */
.navbar-wagon {
  background-color: transparent;
  transition: 1s background-color ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar-wagon-white {
  background: rgba(253, 253, 253, 0.96);
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

a:hover {
  text-decoration: none;
  color: #FDFFFC;
}
